.bytesauce-carousel {
  //@import "skeleton";
  @import "base";
  @import "bits";
  @import "keyframes";
  @include top-buffers;
  overflow: hidden;
  $height: 400px;

  img {
    max-height: $height;
  }

  .row {
    height: $height;
    overflow: hidden;
    .title {
      width: 98%;
      background: #000000;
      color: #ffffff;
      padding-left: 20px;
      z-index: 0;
      position: absolute;
      bottom: 0;
      height: 60px;
      opacity: 0.8;
    }
  }
  .columns {
    margin: 0;
  }
  .two.columns {
    width: 16.5%;
    height: $height;
    img {
      max-height: 100%;
    }
  }
  .three.columns {
    width: 25%;
    height: $height;
    img {
      max-height: 100%;
    }
  }
  .four.columns {
    width: 33.3%;
    height: $height;
    img {
      max-height: 130%;
    }
  }
  .six.columns {
    width: 50%;
    height: $height;
    img {
      max-height: 193%;
    }
  }
  .twelve.columns {
    background-color: #ffffff;
    width: 100%;
    height: $height;
    img {
      max-height: 210%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 1136px) {
    .column, .columns {
      margin: 0;
    }
  }

  .right.ng-hide-add {
    animation: 1.3s bounceOutLeft ease;
    position: absolute;
  }
  .right.ng-hide-remove {
    animation: 1.3s bounceInRight ease;
    position: relative;
  }

  .left.ng-hide-add {
    animation: 1.3s bounceOutRight ease;
    position: relative;

  }
  .left.ng-hide-remove {
    animation: 1.3s bounceInLeft ease;
    position: absolute;

  }

}
